.body{
    position: relative;
    width: 1440px;
    height: 1024px;
    border: 1px solid;
    margin: auto ;
}
.title{
    position: absolute;
width: 672px;
height: 79px;
left: 164px;
top: 100px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 79px;
/* identical to box height, or 110% */

display: flex;
align-items: flex-end;

color: #373A3C;
}
.line{
    position: absolute;
width: 189px;
height: 24px;
left: 169px;
top: 236px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */

display: flex;
align-items: flex-end;

color: #373A3C;
}
.boxform{
    position: absolute;
width: 86px;
height: 38px;
left: 200px;
bottom: -8px;



background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 4px;
}
.buton{
    position: absolute;
    width: 39px;
    height: 38px;
    left: 472px;
    top: 229px;
    

background: #0275D8;
border: 1px solid #0275D8;
box-sizing: border-box;
border-radius: 4px;
}
.result{
    position: absolute;
    font-weight: 700;
    text-decoration: underline;
width: 28px;
height: 24px;
left: 525px;
top: 236px;
}
.spin{
    position: absolute;
    display: inline;
width: 38px;
height: 38px;
left: 525px;
top: 228px;

}
.morethan{
    position: absolute;
    display: inline;
    left: 275px;
    top: 278px ;
    width: 180px;
    height: 33px;
    padding:0;
    text-align: center;
    line-height: 28px;
    

}
.errormsg{
    position: absolute;
    text-decoration: none;
width: 277px;
height: 24px;
left: 525px;
top: 236px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: flex-end;

color: #D9534F;
}
